extends ./layout

block content 
  .pb-2.mt-2.mb-4.border-bottom
    h3 Members

  .row
    .col-md-4
      ul
        for user in users
          li(style={'list-style': 'none'})= !user.profile.name ? 'User has no name' : user.profile.name
    .col-md-4
      ul(class='userList')
        for user in users
          li(style={'list-style': 'none'})
            a(href=`/members/member/${user._id}`)='View Profile'
